* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(https://images.unsplash.com/photo-1533542218422-2d52ce04ac64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-color: white;
  background-blend-mode: color;
}
