.App {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.chart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}   