.nav-container {
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: radial-gradient(rgba(0, 0, 0, 0.459),rgba(0, 0, 0, 0.644))
}