.button-container {
    align-self: flex-end;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    background: radial-gradient(rgb(236, 236, 236) 10%,black);
}

.nav-buttons {
    color: black;
    list-style-type: none;
}

.nav-buttons li {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 900;
    padding: 1.5em;
    background: rgba(255, 170, 183, 0.9);
    opacity: 95%;
    transition: 250ms;
}

.nav-buttons li:hover {
    opacity: 100%;
    transform: translateX(-2px) scaleX(1.02);
    transition: 250ms;
}

.nav-buttons li:first-child {
    border-top-left-radius: 30px;
    background: rgba(0, 76, 255,0.8);
    color: white;
}

.nav-buttons li:last-child {
    border-bottom-left-radius: 30px;
    background: rgba(233, 208, 178,0.9);
}

.something {
    background: rgb(111, 158, 179);
}